body {
    background-color: #ebf7eb;
    font-family: "Francois One", Tahoma, sans-serif; 
    font-size: 100%;
    padding-left: 5%;
    padding-right: 5%;
    /*font style is for italics only, normal/italics/oblique*/
    
  }
  h1 {
    font-size: 2.2em;
    text-align: left;
    color: black;
    padding-top: 2%;
  }
  p {
    font-size: 1.4em; /*em is current font size, so it will scale off of user's settings*/
    text-align: center;
    color: green;
  }
  /*use # for those with id= of that name*/
  
.level{
    /*vertical-align: top;*/
    display: block;
    /* justify-content: center;*/
    position: relative;
    /*outline: solid red 3px;*/
}
#label { 
    color: black;
    text-align: left;
    padding-left: 10%;
  }

img {
    width: 75%;
    height: auto;
    padding-bottom: 1%;
    margin: auto;
    display: block;
  }
#answers_img {
  display: none;
}

button.answers {
  background-color: transparent; 
  border: none;
  border-radius: 50%;
  position: absolute;
  font-size: 0;
  width: 60px;
  height: 60px;
}

#a1_1 {
  left: 905px;
  top: 165px;
}
#a1_2{
  left: 725px;
  top: 370px;
}
#a1_3{
  left: 793px;
  top: 615px;
}
#a1_4{
  left: 905px;
  top: 575px;
}
#a1_5 {
  left: 1045px; 
  top: 280px;
}
#a1_6{
  left:1018px; 
  top: 385px;
}
#a1_7{
  left:1100px; 
  top: 600px;
  height: 80px;
}

#instructions_popup {
    outline: double black 2px;
    background-color: #d9d8d7;
    display: none;
    font-size: 1.1em;
    position: absolute;
    bottom: 200%;
    padding: 5px;
    max-width: 10%;
}  
.buttons { /* class named buttons, was attached to the container div */
    /*outline: solid black 2px;*/
    display: flex; 
    justify-content: space-between;
    margin: auto;
    position: relative;
    
}

#show_answers {
    position: absolute;
    left: 85%;
}

button { /*all the items of type <button> */
  background-color: whitesmoke;
  border: gainsboro solid 2px;
  border-radius: 5px;
  padding: 8px;
  font-family: inherit; /* buttons do not automatically get the same font as the body */
}

button.tools:hover {
  background-color: gainsboro;
}
