body {
    background-color: #ebf7eb;
    font-family: "Francois One", Tahoma, sans-serif; 
    font-size: 100%;
    padding-left: 5%;
    padding-right: 5%;
    /*font style is for italics only, normal/italics/oblique*/
    
  }
  h1 {
    font-size: 2.2em;
    text-align: left;
    color: black;
    padding-top: 2%;
  }
  p {
    font-size: 1.4em; /*em is current font size, so it will scale off of user's settings*/
    text-align: center;
    color: green;
  }
  /*use # for those with id= of that name*/
  
div.level{
    vertical-align: top;
    display: flex;
    justify-content: center;
    position: relative;
}
#label { 
    color: black;
    text-align: center;
  }
  img {
    padding-top: 5%;
    padding-bottom: 1%;
  }

#instructions_popup {
    outline: double black 2px;
    background-color: #d9d8d7;
    /*padding: 0.25%;*/
    display: none;
    font-size: 1.1em;
    position: absolute;
    bottom: 200%;
    padding: 5px;
    max-width: 10%;
}  
.buttons { /* class named buttons, was attached to the container div */
    /*outline: solid black 2px;*/
    display: flex; 
    justify-content: space-between;
    margin: auto;
    position: relative;
    
}

#show_answers {
    position: absolute;
    left: 85%;
}

button { /*all the items of type <button> */
  background-color: whitesmoke;
  border: gainsboro solid 2px;
  border-radius: 5px;
  padding: 8px;
  font-family: inherit; /* buttons do not automatically get the same font as the body */
}

button:hover {
  background-color: gainsboro;
}

div.answers {
  position: fixed; 
  top: 10%;
  border: solid 10px red;
}

button.answers {
  background-color: transparent; 
  border: white, solid, 5px; 
  border-radius: 50%;
}